.editor-wrapper {
    padding: 0;
    position: relative;
  }

.editor-wrapper div{
    position: absolute;
    right: 0;
  }
  
.editor-textarea {
    width: 100%;
    background-color: #000000d8;
    color: rgba(255, 255, 255, 0.619);            
    caret-color: white; 
    padding-left: 4%;
    font-family: 'Fira Code', monospace;
   
    resize: none;
    height: 100%;
  }
  
.select-lang{
  position: absolute;
  background-color: rgb(26, 27, 27);
  left: 0;
  top: 0;
  padding: 5px;
  color: whitesmoke;
}


@media (max-width: 1000px){
  
}