

.sidenav-icons .material-symbols-outlined{
    height: 40px;
    width: 40px;
}


.sidenav-offset li{
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 .5rem;
    white-space: nowrap;   
}

.explain-nav li:hover{
    background-color: rgba(212, 203, 203, 0.66);
}